.redes {
  text-align: center;
  *padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes svg {
  color: inherit;
  margin:  0px 5px;
  width: 40px;
}
.redes p{
    margin-bottom: 0rem ;
}