:root {
  --azulCRC: #002e6c;
  --rojoCRC: #e23404;
  --amarilloCRC: #fac90a;
  --claro: #fafafa;
  --oscuro: #333;
}
fuentes {
  font-family: 'Acme', sans-serif;
  font-family: 'Courgette', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}
h3 {
  font-size: 1.5rem;
}
.sectionTit {
  padding: 10px 0px;
  text-align: center;
}
.cuerpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  height: 100%;
}
.btn-primary{
  background: var(--azulCRC);
  border: none;
}
a{
  color: rgba(0,0,0,.55) !important;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  display: block;
  padding: 0.5rem 0.5rem;
}